.ball{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

body {
    margin: 0;
    padding: 0;
}

.tile {
    position: absolute;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #999;
}

#touchCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#pathCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

#gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}